		#container
    	{    
	    display: inline-block;
	    position: relative;
	    width: 70%;
	    left: 15%;
	    background-size: contain;
	    border: 2px solid black;
	    height: 400px;
	    overflow: scroll;
	    }
	    #textbox
	    {
	    	width: 90%;
	    }
	    .username
	    {
	    	color: green;
	    	font-weight: bold;
	    }
	    .bot
	    {
	    	color: blue;
	    	font-weight: bold;
	    }